body {
    padding-top: 100px;
}

img.thumb {
    max-width: 280px;
    max-height: 157px;
}

.navbar-header {
    height: 73px;
}

.navbar-default {
    background-color: #FFF !important;
    border-top: 7px solid #3384B6;
}

.footsies {
    border-top: 7px solid #3384B6;
    border-bottom: none;
}

.navbar-brand>img {
    height: 58px;
}

.navbar-brand {
    padding-top: 9px !important;
    padding-left: 9px !important;
}

.navbar-default .navbar-nav>li>a {
    color: rgb(0, 102, 164);
    font-size: 18px;
    font-family: 'SourceSansPro-Regular', 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: normal;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: rgb(0, 102, 164);
    color: #FFF;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgb(0, 102, 164);
    color: #FFF;
}

.row {
    max-width: 960px;
    margin: 0 auto !important;
}

.container {
    max-width: 960px;
}

.affix-anchor {
    padding-top: 130px !important;
    margin-top: -100px !important;
}

.affix-anchor:first-of-type {
    margin-top: 0px;
}

div.carousel-caption p {
    font-size: 48px;
}

div.carousel-caption.visible-xs p {
    font-size: 1em;
    line-height: 20px;
}

#carousel2,
#carousel3 {
    max-width: 660px;
    margin-left: 7%;
}

.cp {
    padding-top: 24px;
    padding-bottom: 50px;
}

.cpb {
    padding-top: 24px;
}

.cpa {
    padding-bottom: 50px;
}

.tablez {
    margin-left: 5% !important;
    width: 84%;
    padding: 0px !important;
    margin: 0px;
    font-family: 'SourceSansPro-Regular', 'Source Sans Pro';
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.table {
    border: 1px solid #CCC;
    overflow: hidden;
}

.table th {
    font-weight: normal;
    text-align: center;
    height: 46px;
}

.table td {
    min-height: 46px;
}

.righty {
    float: right;
}

.apply {
    padding-left: 0px;
    padding-right: 0px;
}

.maptable {
    max-width: 660px;
    margin-bottom: 30px;
}

.money {
    font-size: 30px;
    background-color: rgb(238, 195, 129);
}

.grants {
    font-size: 16px;
    background-color: rgb(254, 246, 236);
}

.geo {
    padding-bottom: 30px;
}

p, ol.bullets, ul.bullets {
    font-size: 18px;
    line-height: 24px;
    font-family: 'SourceSansPro-Regular', 'Source Sans Pro' !important;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    max-width: 660px;
    margin-left: 7%;
}

p.space {
    margin-bottom: 30px;
}

h4,
h5 {
    color: #F9A10C;
}

h4 {
    padding-bottom: 10px;
    font-family: 'SourceSansPro-Black', 'Source Sans Pro Black', 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-size: 28px;
}


/* h5 {font-size:18px;font-family: 'SourceSansPro-Bold', 'Source Sans Pro Bold', 'Source Sans Pro';font-weight: 700;margin-left:7%;} */

h5 {
    font-size: 18px;
    font-family: 'SourceSansPro-Bold', 'Source Sans Pro Bold', 'Source Sans Pro';
    font-weight: 700;
    margin-left: 7%;
}

h5.feather {
    font-family: 'SourceSansPro-Regular', 'Source Sans Pro';
    font-weight: 400;
    margin-left: 7%;
}

.bluetxt {
    font-family: 'SourceSansPro-Bold', 'Source Sans Pro Bold', 'Source Sans Pro';
    font-weight: 700;
    color: #3384B6;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
}

.heavy {
    font-family: 'SourceSansPro-Bold', 'Source Sans Pro Bold', 'Source Sans Pro';
    font-weight: 700;
    padding-bottom: 20px;
}

ul {
    margin-left: 10%;
}

ol {
    margin-left: 60px;
    margin-bottom: 20px;
}
ol li {
    margin-bottom: 10px;
}


#criteria,
#funding,
#how,
#timelines,
#howtoapply,
#stories {
    padding-top: 30px;
}

.xlight {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-size: 90%;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 5px;
}

p.grantstory {
    font-size: 36px !important;
    text-align: center;
}

div.carousel-caption p.featgrant {
    font-size: 36px;
    text-align: center;
    font-family: 'SourceSansPro-Black', 'Source Sans Pro Black', 'Source Sans Pro';
    font-weight: 900;
    line-height: 48px;
    margin: 0% !important;
    margin-left: 10% !important;
}

.carousel-caption.grant {
    padding-bottom: 9%;
    padding-top: 4%;
    right: 10%;
    left: 10%;
    text-align: center;
    margin-left: none;
}

.feat {
    font-family: 'SourceSansPro-Black', 'Source Sans Pro Black', 'Source Sans Pro';
    font-weight: 900;
    line-height: 45px;
    font-style: normal;
    font-size: 1em;
    color: #FFFFFF;
    text-align: center;
}

.spacer {
    border-top: 2px solid #FFF;
    max-width: 465px;
    margin: 0 auto;
    margin-left: 15%;
    margin-right: 5%;
    padding-top: 5px;
}

.orange {
    background-color: rgba(250, 176, 50, 1);
    border-color: rgba(250, 176, 50, 1);
    color: #FFF;
    font-size: 18px;
    font-family: SourceSansPro-Bold, "Source Sans Pro Bold", "Source Sans Pro";
    font-weight: 700;
    margin-top: 50px;
    margin-left: 30px;
}

.blue {
    background-color: #3384B6;
    border-color: #296a92;
    ;
    color: #FFF;
    font-size: 16px;
    font-family: "Source Sans Pro";
    font-weight: 400;
}

.blue:hover {
    background-color: #3384B6;
    color: #FFF;
}

.glyphicon-menu-down {
    font-weight: 800;
    padding-top: 2px;
}

.carousel-caption {
    padding-bottom: 5%;
    margin: 0 auto;
    margin-left: -5%;
}

.legal {
    float: left;
    margin-top: 3%;
}

.ftext {
    font-family: 'SourceSansPro-Bold', 'Source Sans Pro Bold', 'Source Sans Pro';
    font-weight: 700;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}

.copy {
    font-family: 'SourceSansPro-Regular', 'Source Sans Pro';
    font-weight: 400;
    color: #666666;
    font-size: 14px;
    line-height: 20px;
}

#carousel1 {
    margin-bottom: 35px;
}

.lol {
    float: right;
    max-width: 200px;
}

blockquote {
    border-left: 5px solid #ffffff;
}

@media only screen and (max-width: 767px) {
    .ftext,
    .copy {
        font-size: 10px;
    }
    .container {
        padding-right: 0px;
        padding-left: 0px;
    }
    p {
        margin-left: 0%;
    }
    .col-lg-12 {
        padding-right: 8px;
        padding-left: 15px;
    }
    h5 {
        margin-left: 0%;
    }
    #carousel2,
    #carousel3 {
        margin-left: 0%;
    }
    div.carousel-caption.visible-xs p,
    p.grantstory {
        font-size: 25px;
        line-height: 20px;
    }
    .carousel-caption.grant {
        padding-bottom: 5%;
        padding-top: 0%;
    }
}

.timeline-table {
    font-size: 18px;
    line-height: 24px;
    font-family: 'SourceSansPro-Regular', 'Source Sans Pro' !important;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    max-width: 660px;
    /* Firefox */
    margin-left: -moz-calc(7% - 15px);
    /* WebKit */
    margin-left: -webkit-calc(7% - 15px);
    /* Opera */
    margin-left: -o-calc(7% - 15px);
    /* Standard */
    margin-left: calc(7% - 15px);
}
.timelineDiv {
    padding-top:5px;
    padding-bottom:15px;
}
.photos {
    /* Firefox */
    margin-left: -moz-calc(7% - 15px);
    /* WebKit */
    margin-left: -webkit-calc(7% - 15px);
    /* Opera */
    margin-left: -o-calc(7% - 15px);
    /* Standard */
    margin-left: calc(7% - 15px);    
}
.text-center{
    max-width: 660px;
}
.applicationbutton{
 margin-bottom:20px;
 margin-top:15px;
 width:340px;
 font-size: 16px;
 margin-left:-45px;
}

#lf-frame-355571 {
    min-height: 400px;
}